# HEALTH PREPROCESS

## COVID-19 FAKE NEW

In [53]:
import pandas as pd

In [54]:
# Read the Excel file
fake_new_df = pd.read_excel('../datasets/Health/COVID-19 Fake News Dataset/fake_new_dataset.xlsx')
fake_new_df.head()

,Unnamed: 0,title,text,subcategory,label
0,0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,0
1,1,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,1
2,2,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,1
3,3,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,0
4,4,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,0

In [55]:
# drop the 'Unnamed: 0' column, title and subcategory
fake_new_df = fake_new_df.drop(columns=['Unnamed: 0', 'title', 'subcategory'])
fake_new_df.head()

                                                text  label
0  Facebook has shuttered a popular group for Mic...      0
1  We can now officially put to rest all comparis...      1
2  The Ministry of Health in Bermuda has confirme...      1
3  Purdue University President Mitch Daniels, the...      0
4  Locking down much of the country may have help...      0

In [56]:
#rename the columns text to claim
fake_new_df = fake_new_df.rename(columns={'text': 'claim'})
fake_new_df.head()

                                               claim  label
0  Facebook has shuttered a popular group for Mic...      0
1  We can now officially put to rest all comparis...      1
2  The Ministry of Health in Bermuda has confirme...      1
3  Purdue University President Mitch Daniels, the...      0
4  Locking down much of the country may have help...      0

In [57]:
#print unique values in the 'label' column
print(fake_new_df['label'].unique())

[0 1]

## FNIR

In [58]:
# Read the CSV files
fake_news = pd.read_csv("../datasets/Health/COVID19-FNIR/fakeNews.csv")
true_news = pd.read_csv("../datasets/Health/COVID19-FNIR/trueNews.csv")

In [59]:
fake_news.head()

,Date Posted,Link,Text,Region,Country,Explanation,Origin,Origin_URL,Fact_checked_by,Poynter_Label,Binary Label
0,2/7/20,https://www.poynter.org/?ifcn_misinformation=t...,Tencent revealed the real number of deaths.\t\t,Europe,France,The screenshot is questionable.,Twitter,https://www.liberation.fr/checknews/2020/02/07...,CheckNews,Misleading,0
1,2/7/20,https://www.poynter.org/?ifcn_misinformation=t...,Taking chlorine dioxide helps fight coronavir...,Europe,Germany,Chlorine dioxide does guard against the coron...,Website,https://correctiv.org/faktencheck/medizin-und-...,Correctiv,FALSE,0
2,2/7/20,https://www.poynter.org/?ifcn_misinformation=t...,This video shows workmen uncovering a bat-inf...,India,India,A video shows bats nesting in the roof; howev...,Facebook,https://factcheck.afp.com/video-shows-workmen-...,AFP,MISLEADING,0
3,2/7/20,https://www.poynter.org/?ifcn_misinformation=t...,The Asterix comic books and The Simpsons pred...,India,India,Coronavirus has been around since the 1960s. ...,Twitter,https://www.boomlive.in/health/did-the-simpson...,BOOM FactCheck,Misleading,0
4,2/7/20,https://www.poynter.org/?ifcn_misinformation=c...,Chinese President Xi Jinping visited a mosque...,India,India,Chinese President Xi Jinping's visit to the m...,Facebook,http://newsmobile.in/articles/2020/02/07/chine...,NewsMobile,FALSE,0

In [60]:
#fake news drop Date Posted, Link, Region, Country, Explanation, Origin, Origin_URL, Fact_checked_by, Poynter_Label
fake_news = fake_news.drop(columns=['Date Posted', 'Link', 'Region', 'Country', 'Explanation', 'Origin', 'Origin_URL', 'Fact_checked_by', 'Poynter_Label'])
fake_news.head()

                                                Text  Binary Label
0    Tencent revealed the real number of deaths.\t\t             0
1   Taking chlorine dioxide helps fight coronavir...             0
2   This video shows workmen uncovering a bat-inf...             0
3   The Asterix comic books and The Simpsons pred...             0
4   Chinese President Xi Jinping visited a mosque...             0

In [61]:
#rename the columns text to claim and Binary Label to label
fake_news = fake_news.rename(columns={'Text': 'claim', 'Binary Label': 'label'})
fake_news.head()

                                               claim  label
0    Tencent revealed the real number of deaths.\t\t      0
1   Taking chlorine dioxide helps fight coronavir...      0
2   This video shows workmen uncovering a bat-inf...      0
3   The Asterix comic books and The Simpsons pred...      0
4   Chinese President Xi Jinping visited a mosque...      0

In [62]:
true_news.head()

,Date Posted,Link,Text,Region,Username,Publisher,Label
0,2/11/20,https://twitter.com/the_hindu/status/122725962...,Just in: Novel coronavirus named 'Covid-19': U...,India,the_hindu,The Hindu,1
1,2/12/20,https://twitter.com/ndtv/status/12274908434742...,WHO officially names #coronavirus as Covid-19....,India,ndtv,NDTV,1
2,2/12/20,https://twitter.com/the_hindu/status/122744471...,"The #UN #health agency announced that ""COVID-1...",India,the_hindu,The Hindu,1
3,2/14/20,https://twitter.com/IndiaToday/status/12282764...,The Indian Embassy in Tokyo has said that one ...,India,indiatoday,IndiaToday,1
4,2/15/20,https://twitter.com/the_hindu/status/122854247...,Ground Zero | How Kerala used its experience i...,India,the_hindu,The Hindu,1

In [63]:
#true news drop Date Posted	Link	Region	Username	Publisher
true_news = true_news.drop(columns=['Date Posted', 'Link', 'Region', 'Username', 'Publisher'])
true_news.head()

                                                Text  Label
0  Just in: Novel coronavirus named 'Covid-19': U...      1
1  WHO officially names #coronavirus as Covid-19....      1
2  The #UN #health agency announced that "COVID-1...      1
3  The Indian Embassy in Tokyo has said that one ...      1
4  Ground Zero | How Kerala used its experience i...      1

In [64]:
#true news rename the columns Text to claim and Label to label
true_news = true_news.rename(columns={'Text': 'claim', 'Label': 'label'})
true_news.head()

                                               claim  label
0  Just in: Novel coronavirus named 'Covid-19': U...      1
1  WHO officially names #coronavirus as Covid-19....      1
2  The #UN #health agency announced that "COVID-1...      1
3  The Indian Embassy in Tokyo has said that one ...      1
4  Ground Zero | How Kerala used its experience i...      1

In [65]:
# Combine both of the files
fnir = pd.concat([fake_news, true_news])

In [66]:
#merge fake_new_df and fnir
health_dataset = pd.concat([fake_new_df, fnir])

In [67]:
#remove duplicates
health_dataset = health_dataset.drop_duplicates(subset='claim')

#remove rows with missing values
health_dataset = health_dataset.dropna()

In [68]:
#display details of merged_df such as shape, info, describe, head unique values in label column
print(health_dataset.shape)
print(health_dataset.info())
print(health_dataset.describe())
print(health_dataset.head())
print(health_dataset['label'].unique())

#display average claim length
health_dataset['claim_length'] = health_dataset['claim'].apply(lambda x: len(x.split()))
print(health_dataset['claim_length'].mean())

(10316, 2)
<class 'pandas.core.frame.DataFrame'>
Index: 10316 entries, 0 to 3792
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   claim   10316 non-null  object
 1   label   10316 non-null  int64
dtypes: int64(1), object(1)
memory usage: 241.8+ KB
None
              label
count  10316.000000
mean       0.562912
std        0.496050
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
                                               claim  label
0  Facebook has shuttered a popular group for Mic...      0
1  We can now officially put to rest all comparis...      1
2  The Ministry of Health in Bermuda has confirme...      1
3  Purdue University President Mitch Daniels, the...      0
4  Locking down much of the country may have help...      0
[0 1]
162.7137456378441

In [69]:
#Remove punctuations
#Convert text to tokens
#Remove tokens of length less than or equal to 3
#Remove stopwords using NLTK corpus stopwords list to match
#Apply lemmatization

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if len(word) > 3]
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(tokens)

health_dataset['claim'] = health_dataset['claim'].apply(clean_text)
health_dataset.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                               claim  label  claim_length
0  facebook shuttered popular group michigander o...      0           452
1  officially rest comparison covid19 influenza c...      1           183
2  ministry health bermuda confirmed newspaper re...      1           146
3  purdue university president mitch daniel forme...      0           520
4  locking much country helped flatten curve also...      0          3230

In [70]:
#display average claim length
health_dataset['claim_length'] = health_dataset['claim'].apply(lambda x: len(x.split()))
print(health_dataset['claim_length'].mean())
#remove claim length column
health_dataset = health_dataset.drop(columns=['claim_length'])

87.46064366033346

In [71]:
#save to preprocessed_datasets folder
health_dataset.to_csv('../preprocessed_datasets/health_dataset.csv', index=False)